.idea/
.npmignore
.editorconfig
docs/
tests/
RELEASE-STEPS.md
requirements.txt
tasks.py
src/android/.gradle
src/android/AndroidManifest.xml
src/android/build
src/android/build.gradle
src/android/android.iml
src/android/gradle
src/android/gradlew
src/android/gradlew.bat
src/android/lint.xml
src/android/local.properties
src/android/settings.gradle
